/**********************************************
*** GENERAL
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-image: linear-gradient(
      rgba(62, 20, 20, 0.4),
      rgba(62, 20, 20, 0.4)
    ),
    url(./images/back3.jpg);
  background-size: cover;
  background-position: center;
  font-family: Lato;
  font-weight: 300;
  position: relative;
  height: 100vh;
  color: #555;
}

.wrapper {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.player-0-panel,
.player-1-panel {
  width: 50%;
  float: left;
  height: 600px;
  padding: 100px;
}

/**********************************************
*** PLAYERS
**********************************************/

.player-name {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.player-score {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  color: #eb4d4d;
  margin-bottom: 130px;
}

.active {
  background-color: #f7f7f7;
}
.active .player-name {
  font-weight: 600;
}

.active .player-name::after {
  content: "\2022";
  font-size: 35px;
  position: absolute;
  color: #eb4d4d;
  top: -5px;
  right: 10px;
}

.player-current-box {
  background-color: #eb4d4d;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

.player-current-label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  color: #fff;
}

.player-current-score {
  font-size: 30px;
}

.button,
.targetScore {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: #555;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}
.targetScore {
  text-align: center;
  bottom: 50px;
  cursor: initial;
}
.button:hover {
  font-weight: 600;
}
.button:hover i {
  margin-right: 20px;
}

.button:focus {
  outline: none;
}

i {
  color: #eb4d4d;
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  transition: margin 0.3s;
}

.btn-new {
  top: 45px;
}
.btn-setting {
  top: 95px;
}
.btn-roll {
  top: 403px;
}
.btn-hold {
  top: 467px;
}

.dice {
  position: absolute;
  left: 50%;
  top: 178px;
  transform: translateX(-50%);
  height: 100px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
}

.winner {
  background-color: #f7f7f7;
}
.winner .player-name {
  font-weight: 300;
  color: #eb4d4d;
  font-style: italic;
  animation: glow 0.5s 3 ease-in-out;
}
.winner .player-name::after {
  display: none;
}
@keyframes glow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* ----- Modal styles ----- */
.modalOverlay {
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  z-index: 50;
  position: relative;
  display: none;
}
.modalOverlay.show {
  display: block;
}
.modalContainer {
  width: 350px;
  padding: 30px 40px;
  background: #f4f4f4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5); */
}

.cross * {
  float: right;
  font-size: 18px;
  margin-right: 0;
  color: #222;
}
.cross *:hover {
  color: #eb4d4d;
}
.cross::after {
  content: "";
  display: table;
  clear: both;
}
.label {
  display: block;
  margin-bottom: 5px;
  color: #222;
}
.field {
  border: none;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  height: 30px;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 10px;
  outline: transparent;
}
.field:focus {
  border: 2px solid rgba(0, 0, 0, 0.5);
}
.inputGroup {
  margin-bottom: 10px;
}

.inputGroup > p {
  opacity: 0.6;
  font-size: 14px;
}

.modalBtn {
  border: none;
  background: none;
  height: 30px;
  background: #eb4d4d;
  display: block;
  width: 100%;
  color: #f4f4f4;
  outline: transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}
.modalBtn:hover {
  opacity: 1;
}
.modalBtn:active {
  box-shadow: none;
}
.snackbar {
  visibility: hidden;
  position: fixed;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  background: #f4f4f4;
  padding: 10px;
  z-index: 70;
  width: 300px;
  opacity: 0;
}
.snackbar > p {
  padding-right: 20px;
}
.snackbar.active {
  visibility: visible;
  animation: fadeIn 0.7s ease-in-out forwards,
    fadeOut 0.8s ease-in-out 2.5s forwards;
}
.alertIcon {
  /* width: 30px;
  height: 30px; */
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  font-size: 20px;
  margin: 0;
}
@keyframes fadeIn {
  0% {
    bottom: 5px;
    opacity: 0;
  }
  100% {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    bottom: 30px;
    opacity: 1;
  }
  100% {
    bottom: 5px;
    opacity: 0;
  }
}
